
@{
    ViewBag.Title = "CrearNuevaLista";
}

<h2>Nueva lista</h2>

<form action="/Listas/GuardarTituloYUsuarios">
    <label for="titulo">Nombre de lista</label>
    <input type="text" name="titulo" class="form-control"/>
    <br />
    @Html.Action("VerUsuarios")
    <br />
    <input type="submit" value="Continuar" class="form-control"/>
</form>

