
@{
    ViewBag.Title = "darPorFinalizadaLaLista";
}

<h2>darPorFinalizadaLaLista</h2>
<a href="/Listas/finalizar">Finalizar</a>
<hr />
@Html.Action("VerTituloDeLista")
@Html.Action("verUsuariosDeLista")
@Html.Action("VerArticulosDeLista")
<br />
<a href="/Listas/Index">Volver al listado</a>

