<form action="/Listas/guardarCantidad" method="post">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" name="cantidad" width="50%" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </span>
        </div>
    </div>
</form>
