
@{
    ViewBag.Title = "Index";
}

<h2>Listas</h2>
<hr />
<button class="btn" onclick="window.location.href = '/Listas/CrearNuevaLista'"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Nueva lista&nbsp;</button>
@*<a href="/Listas/CrearNuevaLista">Nueva lista</a>*@
<hr />
<h3>Listas activas</h3>
@Html.Action("verListasActivas")
<hr />
<h3>Listas finalizadas</h3>
@Html.Action("verListasAcabadas")
