@model IEnumerable<TuLista.Models.ArticulosConTipo>
<h3>Artículos más usados</h3>
@{ 
    var i = 0;
}
@foreach (var a in Model)
{
    <label for="articulo @i"><input type="checkbox" id="articulo @i" name="articulo" value="@a.IdArticulo" />&nbsp;&nbsp;@a.nombreArticulo</label>
    <br />
    i++;
}
