
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Registro/Registro">
    <h1>Registro</h1>
    <br />
    <label for="email">Email: </label>
    <input type="email" name="email" class="form-control"/>
    <br />
    <label for="pass">Contraseña</label>
    <input type="password" name="pass" class="form-control"/>
    <br />
    <input type="submit" value="Registro" class="form-control"/>
</form>