
@{
    ViewBag.Title = "NuevoTipo";
}

<h2>NuevoTipo</h2>
<form method="post" action="/TiposDeArticulos/GuardarNuevoTipo">
    <label for="nombre">Nombre de tipo:</label>
    <input type="text" name="nombre" class="form-control"/>
    <br />
    <input type="submit" value="Guardar" class="form-control"/>
</form>
