
@{
    ViewBag.Title = "Index";
}

<form action="/Login/DoLogin">
    <h1>Acceso</h1>
    <br />
    <label for="email">Email: </label>
    <input type="email" name="email" class="form-control"/>
    <br />
    <label for="pass">Contraseña</label>
    <input type="password" name="pass" class="form-control"/>
    <br />
    <input type="submit" value="Entrar" class="form-control"/>
</form>
<h4>-----------</h4>
<a href="/Login/Registro">Registrate</a>

